@page "/living-hinge"
@using SVGRender.Components

<PageTitle>Living Hinge Generator</PageTitle>

<h1>Living Hinge Generator</h1>
<p>Create parametric living hinges with precise control over dimensions and layout.</p>

<div class="row">
    <div class="col-12">
        <LivingHingeGenerator />
    </div>
</div>
